/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.appTitleBar {
  font-size: 10em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.postLabel {
	margin: 10px 10px;
}

.postInfoButton {
	
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
